<li *ngIf="pokemon" class="mb-3 bg-grid-blue text-white text-center rounded position-relative">
  <app-catch-button [pokemonId]="pokemon.id"></app-catch-button>
  <section> <img [src]="pokemon.image" [alt]="pokemon.name" class="block w-25"> </section>
  <section class="mb-3">  <span class="text-xl ">{{pokemon.name}}</span> </section>
</li>
