<nav class="bg-danger text-light text-center p-1 sticky-top">
  <span class="">NG POKEMON CATCHER</span>

  <ng-container *ngIf="user !== undefined">
    <ul class="text-light flex">
      <li> <a routerLink="/pokemoncatalogue">Pokemons</a></li>
      <li> <a routerLink="/trainer">Profile</a></li>
    </ul>
  </ng-container>

  <p *ngIf="user !== undefined">Pokemon caught: <b>{{user.pokemon.length}}</b></p>

</nav>
