<p>login-form works!</p>

<div class="container ">
  <div class="row my-5">
    <div class="col-md-12">
      <form #loginForm="ngForm" (ngSubmit)="onLoginSubmit(loginForm)">
      <fieldset class="mb-3">
          <label for="username" class=""> Username </label>
          <input
            id="username"
            name="username"
            required
            minlength="3"
            maxlength="14"
            ngModel
            #username="ngModel"
            type="text"
            class="form-control"
            placeholder="Hello trainer, what's your name?">
      </fieldset>

      <div *ngIf="username.errors && ( username.dirty || username.touched)" class="alert alert-danger">

        <span *ngIf="username.errors['required']">This field is required</span>
        <span *ngIf="username.errors['minlength']">Minimum 3 characters mate</span>

      </div>

      <button
        name="login"
        value="login"
        [disabled]="loginForm.invalid"
        type="submit"
        class="btn btn-primary block">
        Start adventure
    </button>
      </form>
    </div>
  </div>

  <div class="alert alert-danger" *ngIf="error !== ''">
    <p>{{error}}</p>
  </div>
</div>

