<aside class="position-absolute top-0 end-0">
  <button (click)="onCatchClick()" class="btn btn-warning px-5 mb-5 text-white"> <span class="material-icons">arrow_circle_down</span> </button>
</aside>
