<div class="container" *ngIf="user" >Welcome: {{user.username}}</div>

<main class="container mx-auto p-4">
  <p *ngIf="loading">List is loading..</p>
  <app-pokemons [pokemons]="pokemons" ></app-pokemons>
</main>

